<div class="sidebar">
    <div class="box auth">
    <% if(!user.id && !user.login){ %> 
      <form method="post" class="login">
        <h2>Вход</h2>
        <div class="form-group">
          <label for="login-login">Логин</label>
          <input type="text" id="login-login" name="login" />
        </div>
        <div class="form-group">
          <label for="login-password">Пароль</label>
          <input type="password" id="login-password" name="password" />
        </div>
        <div class="buttons">
            <button class="switch-button secondary-inverse">Регистрация</button>
            <button class="login-button">Войти</button>
        </div>
       </form>
    
       <form method="post" class="registr">
        <h2>Регистрация</h2>
        <div class="form-group">
          <label for="login-registr">Логин</label>
          <input type="text" id="login-registr" name="login" />
        </div>
        <div class="form-group">
          <label for="password-registr">Введите пароль</label>
          <input type="password" id="password-registr" name="password" />
        </div>
        <div class="form-group">
            <label for="password-registr-confirm">Повторите пароль</label>
            <input type="password" id="password-registr-confirm" name="passwordConfirm" />
          </div>
        <div class="buttons">
            <button class="switch-button secondary-inverse">Вход</button>
            <button class="registr-button">Регистрация</button>
        </div>
       </form>
    <%} else{ %> 
      <ul>
        <li>Привет,<a href="/users/<%= user.login %>"><%= user.login %></a>! </li>
        <li><a href="/post/add">Добавить пост!!</a></li>
        <li> <a href="/api/auth/logout">Выход</a></li>
      </ul>
    
     
    <% } %>  
    </div>
    <div class="box">box2</div>
  </div>